/***********************************************
p5 project #2: ESCAPE LAB

By MGL

MAIN CSS CODE:
************************************************/

body {
  color: red;
  padding: 0;
  margin: 0;
}
